name: TDR Tag and pre deploy
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  pre-deploy:
    uses: nationalarchives/tdr-github-actions/.github/workflows/lambda_build.yml@5d4fee21ed08f053613a7706e28623c0adc0f5f4 # v0.0.10
    with:
      repo-name: tdr-reporting
      lambda-name: reporting
      artifact-name: function
      artifact-file-type: zip
      artifact-path: lambda
      build-command: |
        mkdir lambda
        docker build -t function .
        docker run -itd --rm --name function function
        docker cp function:/lambda/function.zip lambda/
    secrets:
      MANAGEMENT_ACCOUNT: ${{ secrets.MANAGEMENT_ACCOUNT }}
      WORKFLOW_PAT: ${{ secrets.WORKFLOW_PAT }}
      WIZ_CLIENT_ID: ${{ secrets.WIZ_CLIENT_ID }}
      WIZ_CLIENT_SECRET: ${{ secrets.WIZ_CLIENT_SECRET }}
      WIZ_PROJECT_ID: ${{ secrets.WIZ_PROJECT_TDR }}
  deploy:
    needs: pre-deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: gh workflow run deploy.yml -f environment=intg -f to-deploy=${{ needs.pre-deploy.outputs.next-version }}
        env:
          GITHUB_TOKEN: ${{ secrets.WORKFLOW_PAT }}
